* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  background-color: white;
}

/* brightness() mdn */

.container-header {
  display: flex;
  align-items: center;
  height: 64px;
}

@media screen and (width > 768px) {
  .container-header {
    height: 96px;
  }
}

@media screen and (width > 1024px) {
  .container-header {
    height: 96px;
  }
}

.icon-menu {
  margin-left: 32px;
  cursor: pointer;
}

@media screen and (width > 768px) {
  .icon-menu {
    display: none;
  }
}

.icon-logo {
  margin-left: 98px;
  width: 75px;
  height: 20px;
}

@media screen and (width > 768px) {
  .icon-logo {
    width: 108px;
    height: 28px;
    margin: 0;
    margin-left: 39px;
  }
}

@media screen and (width > 1024px) {
  .icon-logo {
    margin-left: 169px;
  }
}

.introduction-container {
  background-image: url(../assets/img/images/home-hero-mobile.jpg);
  background-size: cover;
  height: 650px;
}

@media screen and (width > 768px) {
  .introduction-container {
    background-image: url(../assets/img/images/home-hero-tablet.jpg);
    background-size: cover;
    height: 650px;
    overflow: hidden;
  }
}

@media screen and (width > 1024px) {
  .introduction-container {
    background-image: url(../assets/img/images/home-hero-desktop.jpg);
    background-size: cover;
    overflow: hidden;
  }
}

.introduction-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 115px;
}

@media screen and (width > 768px) {
  .introduction-position {
    margin-left: 97px;
    margin-right: 97px;
  }
}

@media screen and (width > 1024px) {
  .introduction-position {
    margin: 0;
    padding: 0;
    align-items: start;
  }
}

.title-introduction {
  font-family: 'Space Mono', monospace;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1.79px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
}

@media screen and (width > 768px) {
  .title-introduction {
    font-size: 56px;
    letter-spacing: -2.5px;
    line-height: 56px;
    width: 500px;
  }
}

@media screen and (width > 1024px) {
  .title-introduction {
    text-align: left;
    margin-left: 165px;
    margin-top: 153px;
  }
}

.text-introduction {
  margin: 0;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 24px;
  color: #fff;
}

@media screen and (width > 1024px) {
  .text-introduction {
    width: 405px;
    text-align: left;
    margin-left: 260px;
    margin-top: 40px;
  }
}

.button-introduction {
  position: relative;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  margin-top: 34px;
  padding-top: 14px;
}

@media screen and (width > 759px){
  .button-introduction{
    margin-top: 32px;
  }
}

@media screen and (width > 1024px) {
  .button-introduction {
    left: 299px;
    margin-top: 40px;
  }
}

@media (hover:hover) {
  .button-introduction:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}


.arrow-right {
  position: relative;
  right: 240px;
  top: 50px;
}

.white-circles {
  display: none;
}

@media screen and (width > 768px) {
  .arrow-right {
    left: -135px;
    top: 80px;
  }

  .white-circles {
    display: block;
    position: relative;
    left: 563px;
    overflow: hidden;
  }
}

@media screen and (width > 1024px) {
  .arrow-right {
    top: -140px;
    left: 700px;
  }

  .white-circles {
    top: -210px;
    left: 1250px;
  }
}

.line {
  display: none;
}

@media screen and (width > 1024px) {
  .line {
    display: block;
    position: relative;
    bottom: 350px;
  }
}

/* menu header */

.menu {
  margin: 0;
  position: absolute;
  width: 256px;
  height: 603px;
  top: 64px;
  background-color: #333a44;
  z-index: 1;
  translate: -100%;
  transition: 0.3s;
  cursor: pointer;
}

.menu-show {
  translate: 0;
}

@media screen and (width > 768px) {
  .menu {
    translate: 0;
    background-color: inherit;
    width: 0;
    height: 0;
    left: 205px;
    top: 15px;
  }
}

.position-menu {
  width: 89px;
  height: 123px;
  background-color: #333a44;
  margin-left: 24px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

@media (hover:hover){
  .hover-desktop:hover{
    color: #FCB72B;
  }
}


@media screen and (width > 768px) {
  .position-menu {
    width: 300px;
    height: 25px;
    margin: 0;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
  }
}

@media screen and (width > 1024px) {
  .position-menu {
    margin-left: 130px;
  }
}

.menu-color {
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  width: 123px;
}

@media screen and (width > 768px) {
  .menu-color {
    width: 249px;
    height: 25px;
    font-size: 15px;
    color: #939caa;
  }
}

.position-link {
  margin: 0;
  position: relative;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Space Mono', monospace;
  width: 180px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 362px;
  left: 30px;
  background-color: #FCB72B;  
}

@media screen and (width > 768px) {
  .position-link {
    top: 10px;
    left: 358px;
    color: #fff;
    position: absolute;
  }
}

@media screen and (width > 1024px) {
  .position-link {
    left: 841px;
  }
}

@media (hover:hover) {
  .position-link:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}


.hover-desktop{
  color: #fff;
}

@media screen and (width > 768px){
  .hover-desktop{
    color: #939CAA;
  }
}


/* main */
/* 
.main-container {
} */

@media screen and (width > 1024px) {
  .features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 165px;
    margin-top: 160px;
    z-index: 1;
  }
}

.locate-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 312px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 120px;
}

@media screen and (width > 768px) {
  .locate-app {
    flex-direction: row;
    margin: 0;
    margin-left: 97px;
    margin-right: 97px;
    margin-top: 120px;
    text-align: left;
  }

  .column-content {
    display: flex;
    flex-direction: column;
    width: 398px;
    height: 130px;
    margin-bottom: 40px;
  }
}

@media screen and (width > 1024px) {
  .locate-app {
    flex-direction: column;
    margin: 0;
  }
  .column-content {
    margin: 0;
    margin-left: 165px;
  }
  .column-content-change-1 {
    margin-left: 30px;
  }
  .column-content-change-2 {
    margin-left: 30px;
  }
}

.logo-app {
  background-image: url(../assets/img/icons/locate.svg);
  background-size: cover;
  height: 56px;
  width: 56px;
}

@media screen and (width > 768px) {
  .logo-app {
    width: 96px;
    height: 96px;
    margin-right: 79px;
  }
}

.pick-scooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 48px;
}

@media screen and (width > 768px) {
  .pick-scooter {
    flex-direction: row;
    margin-left: 97px;
    margin-right: 97px;
    text-align: left;
  }
}

@media screen and (width > 1024px) {
  .pick-scooter {
    flex-direction: column;
    margin: 0;
  }
}

.logo-scooter {
  background-image: url(../assets/img/icons/scooter.svg);
  background-size: cover;
  height: 56px;
  width: 56px;
}

@media screen and (width > 768px) {
  .logo-scooter {
    width: 96px;
    height: 96px;
    margin-right: 79px;
  }
}

.enjoy-ride {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 48px;
  margin-bottom: 120px;
}

@media screen and (width > 768px) {
  .enjoy-ride {
    text-align: left;
    flex-direction: row;
  }
}

@media screen and (width > 1024px) {
  .enjoy-ride {
    flex-direction: column;
    margin: 0;
  }
}

.logo-ride {
  background-image: url(../assets/img/icons/ride.svg);
  background-size: cover;
  height: 56px;
  width: 56px;
}

@media screen and (width > 768px) {
  .logo-ride {
    width: 96px;
    height: 96px;
    margin-right: 79px;
  }
}

.subtitle-feature {
  font-size: 20px;
  font-weight: 700;
  color: #495567;
  letter-spacing: -0.89px;
  font-family: 'Space Mono', monospace;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 24px;
}

.text-features {
  color: #939caa;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 48px;
}

@media screen and (width > 768px) {
  .line-white {
    background-image: url(../assets/img/patterns/line.svg);
    background-size: cover;
    width: 950px;
    height: 10px;
    rotate: 90deg;
    filter: Grayscale(100%);
    position: relative;
    bottom: 650px;
    left: -330px;
    z-index: -1;
    margin: 0;
  }
}

@media screen and (width > 1024px) {
  .line-white {
    left: -70px;
    top: -230px;
    width: 1200px;
    height: 10px;
    rotate: 0deg;
  }
}

/* comentary-web 
  information 1
*/

@media screen and (width > 1024px) {
  .container-information-desktop-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: 200px;
  }
}

.information-photo-1 {
  height: 311px;
  overflow: hidden;
}

@media screen and (width > 768px) {
  .information-photo-1 {
    margin-left: 0;
    height: 445px;
  }
}

.girl-phone {
  background-image: url(../assets/img/images/telemetry.jpg);
  background-size: cover;
  width: 311px;
  height: 311px;
  border-radius: 100%;
  margin: 0;
  margin-left: 32px;
  margin-right: 32px;
}

@media screen and (width > 768px) {
  .girl-phone {
    width: 445px;
    height: 445px;
    margin: 0;
    margin-left: 164px;
  }
}

@media screen and (width > 1024px) {
  .girl-phone {
    margin-left: 95px;
  }
}

.information-arrow-1 {
  background-image: url(../assets/img/patterns/left-downward-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
  bottom: 190px;
  left: 25px;
  margin: 0;
}

@media screen and (width > 768px) {
  .information-arrow-1 {
    left: 100px;
    width: 734px;
    overflow: hidden;
  }
}

@media screen and (width > 768px) {
  .big-circle {
    background-image: url(../assets/img/patterns/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 445px;
    overflow: hidden;
    position: relative;
    top: -600px;
    left: 660px;
    z-index: -1;
  }
}

.information-container-1 {
  width: 311px;
  height: 411px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 32px;
  font-family: 'Space Mono', monospace;
}

@media screen and (min-width: 768px) {
  .information-container-1 {
    width: 573px;
    height: 420px;
    margin-left: 97px;
    margin-right: 97px;
  }
}

@media screen and (width > 1024px) {
  .information-container-1 {
    align-items: start;
    margin-right: 0;
    margin-left: 165px;
  }
}

.information-subtitle-1 {
  margin: 0;
  font-size: 32px;
  color: #495567;
  letter-spacing: -1.43px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .information-subtitle-1 {
    font-size: 48px;
    letter-spacing: -2.14px;
    line-height: 48px;
    width: 457px;
  }
}

@media screen and (width > 1024px) {
  .information-subtitle-1 {
    text-align: left;
  }
}

.information-text-1 {
  font-size: 15px;
  color: #939caa;
  text-align: center;
  margin-top: 32px;
}

@media screen and (width > 1024px) {
  .information-text-1 {
    text-align: left;
    line-height: 25px;
  }
}

.information-link-1 {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  margin-top: 34px;
  padding-top: 14px;
  text-align: center;
}

@media (hover:hover) {
  .information-link-1:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}

/* information 2 */

@media screen and (width>1024px) {
  .container-information-desktop-2 {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
  }
}

.information-photo-2 {
  margin-left: 32px;
  height: 311px;
}

@media screen and (width > 768px) {
  .information-photo-2 {
    margin-left: 0;
    height: 445px;
  }
}

.city {
  background-image: url(../assets/img/images/near-you.jpg);
  background-size: cover;
  width: 311px;
  height: 311px;
  border-radius: 100%;
  margin-top: 134px;
}

@media screen and (width > 768px) {
  .city {
    width: 445px;
    height: 445px;
    margin: 0;
    margin-left: 164px;
    margin-top: 128px;
  }
}

@media screen and (width>1024px) {
  .city {
    margin: 0;
    margin-left: 165px;
  }
}

.information-arrow-2 {
  background-image: url(../assets/img/patterns/right-arrow.svg);
  background-size: cover;
  width: 452px;
  height: 138px;
  position: relative;
  bottom: 290px;
  right: 200px;
  margin: 0;
  z-index: 1;
}

@media screen and (width > 768px) {
  .information-arrow-2 {
    left: -60px;
    bottom: 440px;
    height: 150px;
  }
}

@media screen and (width > 768px) {
  .circle-1 {
    left: -350px;
    top: -590px;
  }
}

.information-container-2 {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 32px;
  font-family: 'Space Mono', monospace;
}

@media screen and (min-width: 768px) {
  .information-container-2 {
    width: 573px;
    margin-left: 97px;
    margin-right: 97px;
    margin-top: 64px;
    font-size: 48px;
  }
}

@media screen and (width>1024px) {
  .information-container-2 {
    margin: 0;
    margin-left: 220px;
    align-items: start;
  }
}

.information-subtitle-2 {
  margin: 0;
  font-size: 32px;
  color: #495567;
  letter-spacing: -1.43px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .information-subtitle-2 {
    font-size: 48px;
    letter-spacing: -2.14px;
    line-height: 48px;
    width: 457px;
    margin-top: 0;
  }
}

@media screen and (width>1024px) {
  .information-subtitle-2 {
    text-align: left;
  }
}

.information-text-2 {
  font-size: 15px;
  color: #939caa;
  text-align: center;
  margin-top: 32px;
}

@media screen and (width>1024px) {
  .information-text-2 {
    text-align: left;
    line-height: 25px;
  }
}

.information-link-2 {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  width: 180px;
  height: 53px;
  background-color: #FCB72B;  
  margin-top: 34px;
  padding-top: 14px;
  text-align: center;
}

@media (hover:hover) {
  .information-link-2:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}


/* information 3*/

@media screen and (width > 1024px) {
  .container-information-desktop-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin: 0;
    margin-top: 160px;
    overflow: hidden;
  }
}
.information-photo-3 {
  height: 445px;
  margin-left: 32px;
  overflow: hidden;
}

@media screen and (width > 768px) {
  .information-photo-3 {
    margin: 0;
    margin-top: 120px;
  }
}

@media screen and (width > 1024px) {
  .information-photo-3 {
    margin: 0;
    overflow: visible;
  }
}

.wallet {
  overflow: visible;
  background-image: url(../assets/img/images/payments.jpg);
  background-size: cover;
  width: 311px;
  height: 311px;
  border-radius: 100%;
  margin-top: 134px;
}

@media screen and (width > 768px) {
  .wallet {
    width: 445px;
    height: 445px;
    margin: 0;
    margin-left: 164px;
  }
}

@media screen and (width > 1024px) {
  .wallet {
    margin: 0;
    margin-left: 95px;
  }
}

.information-arrow-3 {
  background-image: url(../assets/img/patterns/left-downward-arrow.svg);
  background-size: cover;
  height: 138px;
  position: relative;
  bottom: 300px;
  left: 105px;
  margin: 0;
}

@media screen and (width > 768px) {
  .information-arrow-3 {
    left: 400px;
    bottom: 380px;
    height: 160px;
  }
}

@media screen and (width > 1024px) {
  .information-arrow-3 {
    left: 250px;
  }
}

@media screen and (width > 1024px) {
  .circle-2 {
    left: 620px;
    top: -610px;
  }
}

.information-container-3 {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 32px;
  font-family: 'Space Mono', monospace;
}

@media screen and (width > 768px) {
  .information-container-3 {
    margin: 0;
    margin-left: 97px;
    margin-right: 97px;
    margin-top: 64px;
    width: 573px;
  }
}

@media screen and (width > 1024px) {
  .information-container-3 {
    margin: 0;
    align-items: start;
    margin-left: 165px;
  }
}

.information-subtitle-3 {
  margin: 0;
  font-size: 32px;
  color: #495567;
  letter-spacing: -1.43px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .information-subtitle-3 {
    font-size: 48px;
    letter-spacing: -2.14px;
    line-height: 48px;
    width: 457px;
    margin-top: 0;
    text-align: left;
  }
}

.information-text-3 {
  font-size: 15px;
  color: #939caa;
  text-align: center;
  margin-top: 32px;
}

@media screen and (width>1024px){
  .information-text-3{
    text-align: left;
    line-height: 25px;
  }
}

.information-link-3 {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  width: 180px;
  height: 53px;
  background-color: #FCB72B;  
  margin-top: 34px;
  padding-top: 14px;
  text-align: center;
}

@media (hover:hover) {
  .information-link-3:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}

/* footer header */

.footer-content {
  height: 320px;
  margin-top: 205px;
  background-color: #495567;
  overflow: hidden;
}

@media screen and (width > 768px) {
  .footer-content {
    height: 300px;
    margin-top: 197px;
  }
}

@media screen and (width > 1024px) {
  .footer-content {
    margin-top: 200px;
  }
}
/* 359px margin 1024px */

.flex-content {
  display: flex;
  flex-direction: column;
  height: 144px;
  padding-top: 88px;
}

@media screen and (width > 768px) {
  .flex-content {
    height: 176px;
    padding-top: 62px;
    margin-left: 155px;
    margin-right: 155px;
  }
}

@media screen and (width > 1024px) {
  .flex-content {
    height: 96px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 102px;
  }
}

.footer-text {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  text-align: center;
  font-weight: 700;
  font-family: 'Space Mono', serif;
  color: #fff;
  margin-bottom: 40px;
}

@media screen and (width > 768px) {
  .footer-text {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
  }
}

@media screen and (width > 1024px) {
  .footer-text {
    text-align: left;
    width: 415px;
    height: 96px;
  }
}

.footer-available-app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (width > 768px) {
  .footer-available-app {
    justify-content: center;
  }
}

@media screen and (width > 1024px) {
  .footer-available-app {
    justify-content: space-evenly;
  }
}

@media screen and (width > 768px) {
  .app-store {
    margin-right: 12px;
  }
}

@media screen and (width > 1024px) {
  .app-store {
    height: 56px;
  }
}

@media screen and (width > 1024px) {
  .google-play {
    height: 56px;
  }
}

.footer-circle-1 {
  position: relative;
  top: 125px;
}

@media screen and (width > 768px) {
  .footer-circle-1 {
    top: 18px;
  }
}

@media screen and (width > 1024px) {
  .footer-circle-1 {
    top: 44px;
    left: 460px;
  }
}

/*  footer final */

.networks {
  height: 438px;
  background-color: #333a44;
}
@media screen and (width > 768px) {
  .networks {
    height: 96px;
  }
}

.networks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

@media screen and (width > 768px) {
  .networks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
    padding-top: 35px;
    margin-left: 39px;
  }
}

@media screen and (width > 1024px) {
  .networks-container {
    margin-left: 168px;
  }
}

.footer-logo {
  background-image: url(../assets/img/logo.svg);
  background-size: cover;
  filter: brightness(100);
  width: 107px;
  height: 28px;
}

.footer-ul {
  margin-top: 41px;
  width: 74px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (width > 768px) {
  .footer-ul {
    flex-direction: row;
    width: 249px;
    height: 25px;
    margin: 0;
    margin-left: 58px;
  }
}

.footer-color-font {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  color: #939caa;
}


.flex-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  height: 24px;
  margin-top: 85px;
}

@media screen and (width > 768px) {
  .flex-networks {
    margin: 0;
    margin-left: 153px;
  }
}

@media screen and (width > 1024px) {
  .flex-networks {
    margin-left: 570px;
  }
}

.logo-networks-facebook {
  background-image: url(../assets/img/icons/facebook.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
}


.logo-networks-x {
  background-image: url(../assets/img/icons/twitter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
}

.logo-networks-instagram {
  background-image: url(../assets/img/icons/instagram.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
}


/* ABOUT */

/* header */


.header-img {
  background-image: url(../assets/img/images/about-hero-mobile.jpg);
  background-size: cover;
  height: 160px;
}

@media screen and (width > 768px) {
  .header-img {
    background-image: url(../assets/img/images/about-hero-tablet.jpg);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: start;
    overflow: hidden;
    padding-left: 97px;
    padding-top: 70px;
  }
}

@media screen and (width > 1024px) {
  .header-img {
    background-image: url(../assets/img/images/about-hero-desktop.jpg);
    background-size: cover;
    padding-left: 165px;
    padding-top: 68px;
  }
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.79px;
  color: #fff;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  margin: 0;
  padding-top: 60px;
}

@media screen and (width > 768px) {
  .header-title {
    padding: 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
}

.about-circles {
  display: none;
}

@media screen and (width > 768px) {
  .about-circles {
    display: block;
    position: relative;
    padding-left: 306px;
  }
}
@media screen and (width > 1024px) {
  .about-circles {
    padding-left: 910px;
  }
}

/* ABOUT MAIN */


.about-hidden {
  overflow: hidden;
}

@media screen and (width > 1024px) {
  .about-hidden {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    margin-top: 165px;
    margin-left: 165px;
  }
}

.about-img-1 {
  height: 311px;
}

@media screen and (width > 768px) {
  .about-img-1 {
    height: 445px;
  }
}
@media screen and (width > 1024px) {
  .about-img-1 {
    height: 445px;
  }
}

.about-phone {
  background-image: url(../assets/img/images/digital-era.jpg);
  background-size: cover;
  width: 311px;
  height: 311px;
  border-radius: 100%;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 72px;
}

@media screen and (width > 768px) {
  .about-phone {
    width: 445px;
    height: 445px;
    margin: 0;
    margin-left: 164px;
    margin-top: 144px;
  }
}
@media screen and (width > 1024px) {
  .about-phone {
    margin: 0;
    margin-left: 95px;
  }
}

.about-arrow-1 {
  background-image: url(../assets/img/patterns/left-upward-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 735px;
  height: 311px;
  position: relative;
  top: -182px;
  left: 20px;
}

@media screen and (width > 768px) {
  .about-arrow-1t {
    top: -182px;
    left: 20px;
    width: 735px;
  }
}
@media screen and (width > 1024px) {
  .about-arrow-1 {
    height: 139px;
    left: -20px;
  }
}

/* circle white start */

@media screen and (width > 768px) {
  .about-white-circle {
    background-image: url(../assets/img/patterns/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 445px;
    height: 445px;
    position: relative;
    bottom: 756px;
    left: 680px;
    z-index: -1;
  }
}
@media screen and (width > 1024px) {
  .about-white-circle {
    background-image: url(../assets/img/patterns/circle.svg);
    background-size: cover;
    height: 445px;
    left: 650px;
    bottom: 590px;
  }
}

/* circle white end */

.about-container-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-left: 32px;
  margin-right: 32px;
  width: 311px;
  height: 196px;
}

@media screen and (width > 768px) {
  .about-container-text-1 {
    width: 573px;
    height: 186px;
    margin: 0;
    margin-top: 56px;
    margin-left: 97px;
    margin-right: 97px;
  }
}
@media screen and (width > 1024px) {
  .about-container-text-1 {
    margin: 0;
    width: 445px;
    height: 195px;
    margin-right: 95px;
  }
}

.about-subtitle-1 {
  margin: 0;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: #495567;
}

@media screen and (width > 768px) {
  .about-subtitle-1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    height: 96px;
  }
}
@media screen and (width > 1024px) {
  .about-subtitle-1 {
    margin: 0;
    text-align: left;
    height: 96px;
  }
}

.about-text-1 {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
  margin-top: 32px;
  height: 100px;
}

@media screen and (width > 768px) {
  .about-text-1 {
    margin: 0;
    height: 50px;
    margin-top: 40px;
  }
}
@media screen and (width > 1024px) {
  .about-text-1 {
    margin: 0;
    text-align: left;
    margin-top: 24px;
  }
}

/* ABOUT LIVING */


.about-hidden-2 {
  overflow: hidden;
}

@media screen and (width > 1024px) {
  .about-hidden-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 165px;
    margin-right: 165px;
  }
}

.about-img-2 {
  height: 311px;
}

@media screen and (width > 768px) {
  .about-img-2 {
    height: 445px;
  }
}
@media screen and (width > 1024px) {
  .about-img-2 {
    height: 445px;
  }
}

.about-living {
  background-image: url(../assets/img/images/better-living.jpg);
  background-size: cover;
  width: 311px;
  height: 311px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 120px;
  border-radius: 100%;
}

@media screen and (width > 768px) {
  .about-living {
    width: 445px;
    height: 445px;
    margin: 0;
    margin-left: 164px;
    margin-top: 120px;
  }
}

@media screen and (width > 1024px) {
  .about-living {
    margin: 0;
    margin-left: 165px;
  }
}

.about-arrow-2 {
  background-image: url(../assets/img/patterns/right-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 138px;
  position: relative;
  top: -300px;
  left: -35px;
}

@media screen and (width > 768px) {
  .about-arrow-2 {
    top: -440px;
    left: -65px;
    width: 735px;
  }
}

@media screen and (width > 1024px) {
  .about-arrow-2 {
    height: 139px;
  }
}

/* circle white start */

@media screen and (width > 768px) {
  .about-white-circle-2 {
    background-image: url(../assets/img/patterns/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 445px;
    height: 445px;
    position: relative;
    bottom: 580px;
    left: -360px;
    z-index: -1;
  }
}
@media screen and (width > 1024px) {
  .about-white-circle-2 {
    background-image: url(../assets/img/patterns/circle.svg);
    background-size: cover;
    height: 445px;
  }
}

/* circle white end */

.about-container-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-left: 32px;
  margin-right: 32px;
  width: 311px;
  height: 196px;
}

@media screen and (width > 768px) {
  .about-container-text-2 {
    width: 573px;
    height: 186px;
    margin: 0;
    margin-top: 56px;
    margin-left: 97px;
    margin-right: 97px;
  }
}

@media screen and (width > 1024px) {
  .about-container-text-2 {
    margin: 0;
    width: 445px;
    height: 195px;
    margin-left: 95px;
  }
}

.about-subtitle-2 {
  margin: 0;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: #495567;
}

@media screen and (width > 768px) {
  .about-subtitle-2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    height: 96px;
  }
}

@media screen and (width > 1024px) {
  .about-subtitle-2 {
    margin: 0;
    text-align: left;
    height: 96px;
  }
}

.about-text-2 {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
  margin-top: 32px;
  height: 100px;
}

@media screen and (width > 768px) {
  .about-text-2 {
    margin: 0;
    height: 50px;
    margin-top: 40px;
  }
}

@media screen and (width > 1024px) {
  .about-text-2 {
    margin: 0;
    text-align: left;
    margin-top: 24px;
  }
}

/* VALUES */


@media screen and (width > 1024px) {
  .about-values {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
  }
}

.values-subtitle-1 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  text-align: center;
  height: 32px;
  margin: 0;
  margin-top: 120px;
  color: #495567;
}

@media screen and (width > 768px) {
  .values-subtitle-1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    text-align: center;
    height: 48px;
  }
}
@media screen and (width > 1024px) {
}

.values-img-1 {
  width: 240px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 68px;
  margin-right: 68px;
  margin-top: 64px;
}

@media screen and (width > 768px) {
  .values-img-1 {
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 209px;
    margin-right: 209px;
  }
}
@media screen and (width > 1024px) {
  .values-img-1 {
    margin: 0;
  }
}

.values-tech {
  background-image: url(../assets/img/images/our-tech.jpg);
  background-size: cover;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

@media screen and (width > 1024px) {
}

.values-number-1 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  text-align: center;
  color: #495567;
  position: relative;
  top: -16px;
  z-index: 1;
}

@media screen and (width > 1024px) {
}

.values-number-1::after {
  content: '';
  position: absolute;
  background-color: #fcb72b;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  left: -32px;
  top: -32px;
  z-index: -1;
}

@media screen and (width > 1024px) {
}

.values-container-text-1 {
  width: 311px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 64px;
}

@media screen and (width > 768px) {
  .values-container-text-1 {
    width: 457px;
    height: 130px;
    margin-left: 155px;
    margin-right: 155px;
  }
}
@media screen and (width > 1024px) {
  .values-container-text-1 {
    margin: 0;
    width: 350px;
    height: 130px;
  }
}

.values-sub-subtitle-1 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.07px;
  text-align: center;
  color: #495567;
}

@media screen and (width > 1024px) {
}

.values-text-1 {
  color: #939caa;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-top: 27px;
}

@media screen and (width > 1024px) {
  .values-text-1 {
    margin: 0;
  }
}

/*  */

.values-img-2 {
  width: 240px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 68px;
  margin-right: 68px;
  margin-top: 56px;
}

@media screen and (width > 768px) {
  .values-img-2 {
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 209px;
    margin-right: 209px;
  }
}
@media screen and (width > 1024px) {
  .values-img-2 {
    margin: 0;
  }
}

.values-integrity {
  background-image: url(../assets/img/images/our-integrity.jpg);
  background-size: cover;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}


.values-number-2 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  text-align: center;
  color: #495567;
  position: relative;
  top: -16px;
  z-index: 1;
}


.values-number-2::after {
  content: '';
  position: absolute;
  background-color: #fcb72b;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  left: -32px;
  top: -32px;
  z-index: -1;
}

.values-container-text-2 {
  width: 311px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 64px;
}

@media screen and (width > 768px) {
  .values-container-text-2 {
    width: 457px;
    height: 130px;
    margin-left: 155px;
    margin-right: 155px;
  }
}

@media screen and (width > 1024px) {
  .values-container-text-2 {
    margin: 0;
    width: 350px;
    height: 130px;
  }
}

.values-sub-subtitle-2 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.07px;
  text-align: center;
  color: #495567;
}

.values-text-2 {
  color: #939caa;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-top: 27px;
}
@media screen and (width > 1024px) {
  .values-text-2 {
    margin: 0;
  }
}

/*  */

.values-img-3 {
  width: 240px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 68px;
  margin-right: 68px;
  margin-top: 56px;
}

@media screen and (width > 768px) {
  .values-img-3 {
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 209px;
    margin-right: 209px;
  }
}
@media screen and (width > 1024px) {
  .values-img-3 {
    margin: 0;
  }
}

.values-community {
  background-image: url(../assets/img/images/our-community.jpg);
  background-size: cover;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.values-number-3 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  text-align: center;
  color: #495567;
  position: relative;
  top: -16px;
  z-index: 1;
}


.values-number-3::after {
  content: '';
  position: absolute;
  background-color: #fcb72b;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  left: -32px;
  top: -32px;
  z-index: -1;
}

.values-container-text-3 {
  width: 311px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 64px;
}

@media screen and (width > 768px) {
  .values-container-text-3 {
    width: 457px;
    height: 130px;
    margin-left: 155px;
    margin-right: 155px;
  }
}
@media screen and (width > 1024px) {
  .values-container-text-3 {
    margin: 0;
    width: 350px;
    height: 130px;
  }
}

.values-sub-subtitle-3 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.07px;
  text-align: center;
  color: #495567;
}


.values-text-3 {
  color: #939caa;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-top: 27px;
}

@media screen and (width > 1024px) {
  .values-text-3 {
    margin: 0;
  }
}

/* FAQ */


.faq-title {
  margin: 0;
  text-align: center;
  margin-top: 130px;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: #495567;
}

@media screen and (width > 1024px){
  .faq-flex{
    display: flex;
    flex-direction: row;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 64px;
  }
}

.faq-works {
  text-align: center;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  margin: 0;
  margin-top: 48px;
}


@media screen and (width > 768px) {
  .faq-works{
    margin-top: 64px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
  }
}

@media screen and (width > 1024px){
  .faq-works{
  width: 285px;
  margin-top: 0;
  }
}

@media screen and (width > 1024px){
  .faq-column{
    display: flex;
    flex-direction: column;
    width: 1110px;
  }
}

.faq-hidden{
  margin-top: 16px;
  padding: 0 32px;
}

@media screen and (width > 768px){
  .faq-hidden{
  padding: 0 39px;
  }
}

@media screen and (width > 1024px){
  .faq-hidden{
    padding: 0;
  }
}

.faq-hidden-margin{
  margin-top: 32px;
}

@media screen and (width > 1024px){
  .faq-hidden-margin{
    margin: 0;
  }
}

.faq-info{
  background-color: #F2F5F9;
  color: #495567;
  max-height: 95px;  
  transition: max-height 0.5s;
  overflow: hidden;
}

@media (hover:hover){
  .faq-info:hover{
    background-color: #FFF4DF;
  }
}

@media screen and (width > 1024px){
  .faq-info{
    width: 730px;
 /*    margin-left: 100px; */
  }
}

.faq-hidden-show{
  max-height: 400px;
}



.faq-subtitle{
  margin: 0;
  padding: 32px 32px 35px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;
  pointer-events: none;  
}

@media screen and (width > 768px){
  .faq-subtitle{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  }
}

@media screen and (width > 1024px){
  .faq-subtitle{
  }
}

.faq-text{
  margin: 0;
  padding: 0 32px 32px 32px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  pointer-events: none;
}

.faq-arrow {
  width: 16px;
  height: 8px;
  position: relative;
  top: -55px;
  left: 315px;
}

@media screen and (width > 768px){
  .faq-arrow {
    left: 685px;
  }
}
@media screen and (width > 1024px){
  .faq-arrow {
    left: 685px;
  }
} 



/* CAREERS */

.careers-img {
  background-image: url(../assets/img/images/careers-location-hero-mobile.jpg);
  background-size: cover;
  height: 160px;
}

@media screen and (width > 768px) {
  .careers-img {
    background-image: url(../assets/img/images/careers-locations-hero-tablet.jpg);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: start;
    overflow: hidden;
    padding-left: 97px;
    padding-top: 70px;
  }
}

@media screen and (width > 1024px) {
  .careers-img {
    background-image: url(../assets/img/images/careers-locations-hero-desktop.jpg);
    background-size: cover;
    padding-left: 165px;
    padding-top: 68px;
  }
}

.careers-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.79px;
  color: #fff;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  margin: 0;
  padding-top: 60px;
}

@media screen and (width > 768px) {
  .careers-title {
    padding: 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
}

.careers-circles {
  display: none;
}

@media screen and (width > 768px) {
  .careers-circles {
    display: block;
    position: relative;
    padding-left: 242px;
  }
}
@media screen and (width > 1024px) {
  .careers-circles {
    padding-left: 846px;
  }
}

/* careers main */

@media screen and (width > 1024px){
  .careers-position-desktop{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: 120px;
    padding-left: 165px;
  }
}


.careers-container::before {
  content: '';
  position: absolute;
  background-image: url(../assets/img/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  width: 91%;
  height: 150px;
  top: 420px;
  left: 32px;  
}

@media screen and (width > 768px){
  .careers-container::before{
    left: 32px;
    top: 735px;
    width: 95%;
  }
}

@media screen and (width > 1024px){
  .careers-container::before{
    top: 712px;
    left: 700px;
    width: 50%;
  }
}


@media screen and (width > 768px){
.careers-container::after{
  content: "";
  position: absolute;
  background-image: url(../assets/img/patterns/circle.svg);
  background-repeat: no-repeat;
  width: 13%;
  height: 445px;
  left: 669px;
  top: 450px;
  z-index: -1;
  }
}

@media screen and (width > 1024px){
  .careers-container::after{
    top: 410px;
    left: 1315px;
    width: 6%;
  }
}

.careers-join {
  height: 311px;
  border-radius: 100%;
  margin-top: 72px;
  padding-left: 32px;
  padding-right: 32px;  
}

@media screen and (width > 768px){
  .careers-join{
    height: 445px;
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
@media screen and (width > 1024px){
  .careers-join{
    margin: 0;
    margin-left: 220px;
  }
}

.careers-container-join{
  display: flex;
  flex-direction: column;  
  align-items: center;
  padding: 52px 32px 0;
}

@media screen and (width > 768px){
  .careers-container-join{
    padding: 64px 97px 0;
  }
}
@media screen and (width > 1024px){
  .careers-container-join{
    padding: 0;
    width: 445px;
    align-items: start;
  }
}

.careers-join-subtitle{
  color: #495567;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  text-align: center;
  margin: 0;
  font-family: "Space Mono", serif;
  font-weight: 700;
}

@media screen and (width > 768px){
  .careers-join-subtitle{
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
  }
}
@media screen and (width > 1024px){
  .careers-join-subtitle{
    text-align: left;
    padding-top: 66px;
  }
}

.careers-join-text{
  color: #939CAA;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  padding-top: 32px;
}

@media screen and (width > 768px){
  .careers-join-text{
    padding-top: 40px;
    text-align: left;
  }
}
@media screen and (width > 1024px){
  .careers-join-text{
    padding: 0;
    padding-top: 24px;
  }
}

.careers-button-hello{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  width: 180px;
  height: 53px;
  background-color: #FCB72B;  
  margin-top: 34px;
  padding-top: 14px;
  text-align: center;
}

@media screen and (width > 1024px){
  .careers-button-hello{
    margin-top: 40px;
    padding: 14px;
    
  }
}

@media (hover:hover) {
  .careers-button-hello:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}

.apply-color{
  background-color: #F2F5F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #495567;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 145px;
  padding-bottom: 32px;
  margin-bottom: 16px;
}

.apply-color-margin{
  margin-top: 16px;
}

.apply-color-margin-bottom{
  margin-bottom: 0;
}

@media screen and (width > 768px){
  .apply-color{
    margin-left: 39px;
    margin-right: 39px;
    display: flex;
    flex-direction: row;
    padding: 32px 0 32px 48px;
  }
}

@media screen and (width > 768px){
  .apply-column{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (width > 1024px){
  .apply-color{
    margin-left: 165px;
    margin-right: 165px;
  }
}

.apply-title{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;
  text-align: center;
  margin: 0;
  padding-top: 36px;
}

@media screen and (width > 768px){
  .apply-title{
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  }
}


.apply-country{
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  padding-top: 4px;
}

@media screen and (width > 768px){
  .apply-country{
    padding-top: 8px;
    text-align: left;
  }
}

.apply-job{
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  color: #fff;
  text-align: center;
  margin-top: 16px;
  padding-top: 14px;
}

@media (hover:hover) {
  .apply-job:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
  }
}

@media screen and (width > 768px){
  .apply-job{
    margin-left: auto;
    margin-right: 48px;
  }
}


/*  */

/* LOCATIONS */

.location-img {
  background-image: url(../assets/img/images/careers-location-hero-mobile.jpg);
  background-size: cover;
  height: 160px;
}

@media screen and (width > 768px) {
  .location-img {
    background-image: url(../assets/img/images/careers-locations-hero-tablet.jpg);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: start;
    overflow: hidden;
    padding-left: 97px;
    padding-top: 70px;
  }
}

@media screen and (width > 1024px) {
  .location-img {
    background-image: url(../assets/img/images/careers-locations-hero-desktop.jpg);
    background-size: cover;
    padding-left: 165px;
    padding-top: 68px;
  }
}

.location-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.79px;
  color: #fff;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  margin: 0;
  padding-top: 60px;
}

@media screen and (width > 768px) {
  .location-title {
    padding: 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
}

.location-circles {
  display: none;
}

@media screen and (width > 768px) {
  .location-circles {
    display: block;
    position: relative;
    padding-left: 179px;
  }
}
@media screen and (width > 1024px) {
  .location-circles {
    padding-left: 783px;
  }
}

/* LOCATION MAIN */


.location-wolrd-map {
  background-image: url(../assets/img/images/world-map-mobile.png);
  background-size: cover;
  height: 152px;
  margin-top: 72px;
  margin-left: 32px;
  margin-right: 32px;
}

@media screen and (width > 768px) {
  .location-wolrd-map {
    background-image: url(../assets/img/images/world-map-tablet.png);
    background-size: cover;
    height: 337px;
    margin-top: 144px;
    margin-left: 39px;
    margin-right: 39px;
  }
}

@media screen and (width > 1024px) {
  .location-wolrd-map {
    background-image: url(../assets/img/images/world-map-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 543px;
    margin-top: 120px;
    margin-left: 166px;
    margin-right: 166px;
  }
}

.location-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 336px;
  margin-top: 40px;
}

@media screen and (width > 768px) {
  .location-country {
    display: none;
  }
}

.location-box {
  width: 311px;
  height: 72px;
  background-color: rgb(252, 183, 43, 0.15);
}

.location-text-country {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  margin: 0;
  text-align: center;
  padding-top: 22px;
}

.location-box-final {
  height: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  margin-left: 32px;
  margin-right: 32px;
}

@media screen and (width > 1024px) {
  .location-box-final {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 164px;
    margin-right: 164px;
  }
}

.location-title-final {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  text-align: center;
  color: #495567;
}

@media screen and (width > 768px) {
  .location-title-final{
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
  }
}

@media screen and (width > 1024px) {
  .location-title-final {
    text-align: left;
    width: 351px;
  }
}

.location-text-final {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

@media screen and (width > 768px){
  .location-text-final{
    margin-top: 40px;
  }
} 

@media screen and (width > 1024px) {
  .location-text-final {
    text-align: left;
    width: 445px;
    margin-left: 30px;
  }
}

.location-button-message {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  width: 180px;
  height: 53px;
  background-color: #FCB72B;  
  margin-top: 34px;
  padding-top: 14px;
  text-align: center;
  margin-bottom: 0;
}

@media screen and (width > 1024px){
  .location-button-message{
    margin-left: 105px;
  }
}

@media (hover:hover) {
  .location-button-message:hover{
    border: solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
    cursor: pointer;
  }
}

.city-location-1,
.city-location-2,
.city-location-3,
.city-location-4 {
  display: none;
}

@media screen and (width > 768px) {
  .city-location::after {
    content: '';
    position: absolute;
    background-color: #fcb72b;
    left: 50px;
    bottom: -8px;
    width: 16px;
    height: 16px;
    rotate: 45deg;
  }

  .city-location-1 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.58px;
    bottom: 665px;
    left: 140px;
    color: #495567;
    width: 120px;
    height: 32px;
    background-color: #fcb72b;
    text-align: center;
  }

  .city-location-2 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.58px;
    bottom: 725px;
    left: 284px;
    color: #495567;
    width: 120px;
    height: 32px;
    background-color: #fcb72b;
    text-align: center;
  }

  .city-location-3 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.58px;
    bottom: 615px;
    left: 520px;
    color: #495567;
    width: 120px;
    height: 32px;
    background-color: #fcb72b;
    text-align: center;
  }

  .city-location-4 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.58px;
    bottom: 750px;
    left: 570px;
    color: #495567;
    width: 120px;
    height: 32px;
    background-color: #fcb72b;
    text-align: center;
  }
}

@media screen and (width > 1024px) {
  .city-location::after {
    content: '';
    position: absolute;
    background-color: #fcb72b;
    left: 90px;
    bottom: -8px;
    width: 16px;
    height: 16px;
    rotate: 45deg;
  }

  .city-location-1 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    bottom: 850px;
    left: 310px;
    color: #495567;
    width: 189px;
    height: 72px;
    background-color: #fcb72b;
    text-align: center;
    padding: 22px 38px 38px;
  }

  .city-location-2 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    bottom: 970px;
    left: 555px;
    color: #495567;
    width: 189px;
    height: 72px;
    background-color: #fcb72b;
    text-align: center;
    padding: 22px 38px 38px;
  }

  .city-location-3 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    bottom: 815px;
    left: 930px;
    color: #495567;
    width: 189px;
    height: 72px;
    background-color: #fcb72b;
    text-align: center;
    padding: 22px 38px 38px;
  }

  .city-location-4 {
    display: block;
    position: relative;
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    bottom: 1055px;
    left: 1015px;
    color: #495567;
    width: 189px;
    height: 72px;
    background-color: #fcb72b;
    text-align: center;
    padding: 22px 38px 38px;
  }
}
